<!DOCTYPE html>
<html lang="en" style="display:grid; place-items:center">
<head>
  <meta charset="utf-8">

  <title>Bentley's Party</title>
  <meta name="description" content="Bentley's Party">
  <meta name="author" content="Bentley Carr">

  <link rel="stylesheet" href="/css/style.css">

  <script type="text/javascript" src="/js/question_controller.js"></script>
  <script type="text/javascript" src="/js/mc.js"></script>
  <script>
    QUESTION_CONTROLLER.id = '<%= question._id %>';
  </script>

</head>

<body style='max-width: 800px; text-align: center;'>
    <h1><%= question.data.prompt %></h1>
    <small>Submitted by <%= author_name %>.</small>

    <% var letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']; %>
    <% letters.forEach(function(letter, i) { %>
      <% if (question.data['mc_' + letter] != null) { %>
        <div id='mc_answer_<%= letter %>' class='mc_answer' onclick="MC_QC.selectAnswer('<%= letter %>');">
          <b><%= letter.toUpperCase() %>: </b><%= question.data['mc_'+letter] %>
        </div>
      <% } %>
    <% }); %>
    
    <%  if (username == 'admin') { %>
      <div id='footer'>
        <button onclick='QUESTION_CONTROLLER.onAdvance();' class="footer-button-wide">Advance</button>
      </div>
    <% } %>
</body>
</html>